# -----------------------------
# CONFIGURACIÓN BASE DE DATOS
# -----------------------------
DB_HOST=localhost
DB_NAME=specialisterne
DB_USER=root
DB_PASSWORD=


# -----------------------------
# CONFIGURACIÓN CLOUDINARY
# -----------------------------
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=